* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Estilização básica do cabeçalho*/
header {
    background-color: #2c3e50;
    color: #ffffff;
    padding: 20px;
    text-align: center;
}

/* Tamanho padrão para telas grandes (PCs) */
.titulo-responsivo {
    font-size: 3.5rem;
    font-weight: bold;
}

/* Media Query para telas médias (Tablets) */
@media (max-width: 1024px) {
    .titulo-responsivo{
        font-size: 2.5rem;
    }
}

/* Media Query para telas pequenas (Celulares)*/
@media (max-width: 768px) {
    .titulo-responsivo{
        font-size: 1.8rem;
    }
}

/* Estilização da barra de navegação */
.navbar {
    background-color: #333;
    padding: 15px 20px;
}

/* Lista de links */
.nav-lista {
    list-style: none;
    display: flex; /* PC: lado a lado*/
    gap:20px;
    justify-content: center;
}

.nav-item a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    transition: color 0.3s ease;
}

.nav-item a:hover{
    color: #4CAF50; /* Cor ao passsar o mouse */
}

/*Responsavidade para Mobile (telas até 768px) */
@media (max-width: 768px) {
    .nav-lista {
        flex-direction: column; /* Mobile: empilhado */
        align-items: center;
        gap: 15px
    }
}

