body {
    font-size: 16px;
}

.px {
    font-size: 20px;
    /*fixo*/
}

.em {
    font-size: 2em;
    /*2 * 16px = 32px (relativo ao pai (body = 16px) => 32px)*/
}

.rem {
    font-size: 2rem;
    /* relativo ao root (html) => 32px */
}

.porc {
    font-size: 150%;
    /*1.5 * 16px = 24px
    (relativo ao pai (body) => 24px) */
}

.vw {
    font-size: 5vw;
    /* 5% da largura da tela */
}

.vh {
    font-size: 8vh;
    /* 8% da altura da tela */
}